section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5rem;
  scroll-snap-align: center;
  
}

.IntroPage {
  /* height: 70%; */
  height:90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #F2F3F5;
  background: radial-gradient(50% 50% at 50% 50%, #2D2A58 0%, #1A1C2E 100%);
}
.PeachImage {
  flex: 0 0 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  /* font-size: 80%; */
  height: 80px;
  margin-left: 10px;
}
.TextBlurb {
  margin-left: 5%;
  margin-top: 7%;
  /* margin-left: 148px;
  margin-top: 150px; */
  display: flex;
  flex-flow: column;
}

.Title {
  font-family: 'SF-Pro-Display';
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 30px;

  /* identical to box height, or 79% */
  letter-spacing: 0.35px;

  color: #FFFFFF;
}

.Body {
  width: 525px;

  font-family: 'SF-Pro-Display';
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;

  /* or 158% */
  letter-spacing: 0.38px;
  color: rgba(255, 255, 255, 0.81);


}

.CirclePictures {
  margin-top:2rem;
  flex-grow: 4;
}

#ThirdPicture {
  
  margin-left: 5rem;
  position: relative;
  left: 2rem;
  top: -6rem;
}

#FourthPicture {
  position: relative;
  top: -5rem;
}
@media screen and (max-width: 1440px) {
  #FourthPicture {
    display: none;
  }
}
@media screen and (max-width: 1220px) {
  /* .CirclePictures {
    display: none;
  } */
  #FirstPicture, #SecondPicture {
    display: none;
  }

  #ThirdPicture {
    margin-top: 5rem;
    margin-left: 0rem;
    left: 0rem;
  }
}

@media screen and (max-width: 900px) {
  #ThirdPicture {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .IntroPage {
    display: none;
  }
}

@media screen and (min-width:1970px) {
  .CirclePictures {
    display: none;
  }
}
.LandingPage {
  overflow-y: auto;
  margin-top: 0px;
  padding-top: 0px;
   
  scroll-behavior: smooth;
}





.DashboardPage h1 {
  /* Default / Bold / Title1 */
  /* position: absolute; */ 
  font-family: 'SF-Pro-Display';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.36px;

  /* SystemGray / 05 / Dark */
  color: #2C2C2E;
}
.DashboardPage {
  padding-left:2rem;
  padding-top: 1rem;
  font-family: 'SF-Pro-Display';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.36px;

/* SystemGray / 05 / Dark */
background: rgba(235, 235, 245, .8);
}

.Dashboards { 
  /* padding-left: 2rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#SeeDashboard {
  margin-top: 5px;
  letter-spacing: -0.408px;
  font-family: 'SF-Pro-Display';
  /* SystemBlue / Light */
  color: #007AFF;
}

.DashboardBlurb {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  font-family: 'SF-Pro-Display';
  font-style: normal;
  margin-right: 25px;
  margin-bottom: 25px;
}
.DashboardBlurb img {
  
  /* style={{width:'440px', height:'309px'}} */
  max-width: 100%;
  height: auto;
}
.DashboardBlurb h1 {
  padding-left:0px;
font-weight: 600;
font-size: 20px;
line-height: 24px;

/* identical to box height */
letter-spacing: 0.36px;

/* SystemGray / 04 / Dark */
color: #3A3A3C;
}

.DashboardBlurb h2 {
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  /* width: 440px; */

  /* or 165% */
  letter-spacing: 0.38px;

  /* SystemGray / 04 / Dark */
  color: #3A3A3C;
}

.DashboardBlurb a {
  padding: 10px;
  width: 205px;
  /* SystemBlue / Dark */
  background: #0A84FF;
  border-radius: 5px;
  /* Default / Bold / Body */
  font-family: 'SF-Pro-Display';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;

  /* identical to box height, or 129% */
  text-align: center;
  letter-spacing: -0.408px;

  /* System Background / Light / Primary */
  color: #FFFFFF;
}

