.NewOrganizationForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.NewOrganizationForm input, .NewOrganizationForm button {
  margin-top: 20px;
}

.NewOrganizationForm button {
  align-self: flex-end;
}