.LoginModal {
  width: 400px;
}

.LoginModal > img {
  width: 50px;
}


.LoginModal button {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--body-highlight-green);
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}