.LandingPageHeader {
  flex: 0 0 75px;
  /* background-color: red; */
  background: #1a1c2e;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.Active {
  font-weight: bold;
}

.LandingNavBar {
  display: flex;
  flex-flow: row;
  font-weight: 500;
  margin-left: auto;
}
.LandingNavBar a {
  align-content: center;
  align-self: center;
  margin-inline: 1.5rem;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}
