.SortSelect {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.SortSelect select {
  width: 250px;
  height: 30px;
  /* border-radius: 15px; */
  padding-left: 15px;
  background-color: white;
}
