.Posts {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
  overflow: auto;
}

.PageButton {
  letter-spacing: 0;
  margin: 20px;
  flex-shrink: 1;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PageButton button {
  outline: none;
  background-color: none;
  border: 3px solid black;
  padding: 20px;
  transition: all 0.25s ease;
  font-family: inherit;
  font-weight: bold;
  font-size: calc(var(--body-font-size) + 2px);
}

.PageButton:hover {
  cursor: pointer;
}

.PageButton:hover button {
  transform: scale(1.25);
}