/* old css, needs to be refactored */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  font-weight: normal;
  background-color: var(--body-background);
  color: var(--body-primary);
  overflow: hidden;
}

body, input, textarea, select {
  letter-spacing: 0.03em;
}

h1, h2, h3 {
  font-family: var(--header-font);
}

h1 {
  font-size: var(--header-large-size);
}

h2 {
  font-size: var(--header-medium-size);
}

input, textarea, select, button {
  background: none;
  font-size: calc(var(--body-font-size) - 2px);
  font-family: inherit;
  color: inherit;
  border: 1px solid gray;
  border-radius: 3px;
}

input, textarea, select {
  padding-left: 10px;
}

button {
  font-size: calc(var(--body-font-size) - 2px);
  font-family: inherit;
  background: none;
  color: inherit;
  cursor: pointer;
}

input, textarea {
  padding: 10px;
}


::placeholder,
::-moz-placeholder,
::-webkit-input-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: var(--body-secondary);
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

a, a:visited {
  color: var(--body-primary);
  text-decoration: none;
}

.Modal {
  box-sizing: border-box;
  padding: 30px;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
}

.Modal > h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.Modal button, .Modal select, .Modal input {
  padding: 5px;
}

.Policy a {
  color: blue;
  text-decoration: underline;
}

.PageButton {
  letter-spacing: 0;
  margin: 20px;
  flex-shrink: 1;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PageButton button {
  padding: 10px 15px 10px 15px;
  background-color: var(--body-primary-orange);
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  transition: all 0.25s ease;
}

.PageButton:hover {
  cursor: pointer;
}

.PageButton:hover button {
  transform: scale(1.25);
}