:root {
  --body-font-size: 16px;
  --body-background: #d1d7e0;
  --body-primary: #000;
  --body-secondary: #444;
  --body-font: 'Open Sauce Two', sans-serif;

  --header-large-size: 50px;
  --header-medium-size: 40px;
  --header-font: 'Open Sauce Two', sans-serif;

  --link-color: #0000ee;
  --body-primary-orange: #ef713b;
  /* orange color to match the dark orange circles on projectpeach.org */
  --body-secondary-orange: #f9ddc8;
  /* light orange/peach color to match projectpeach.org alternate background */
  --body-highlight-green: #166402;
  /* green color to match the green button on projectpeach.org */

  /* new variables */

  /* colors */
  --c-primary: #cd4c2c;
  --c-white: #fff;
  --c-black: #000;
  --c-blue-100: #e8f2ff;
  --c-blue-200: #c1dcff;
  --c-blue-300: #60a5fa;
  --c-blue-500: #006ef6;
  --c-blue-700: #1657d6;
  --c-blue-800: #1657d6;
  --c-blue-900: #00479f;

  --sidebar-w: 300px;
}
