
.TeamPage {
  overflow-y: scroll;
  background-color: white;
}
.TeamMembers {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  padding-bottom: 2rem;
}
.TeamTitle {
  font-family: 'SF-Pro-Display';
  font-style: normal;
  font-weight: bold;
  padding-left: 2rem;
  padding-top: 2rem;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.36px;
  margin-top:0;

  /* SystemGray / 05 / Dark */
  color: #2C2C2E;
}
.TeamMemberSection {
  background: rgba(235, 235, 245, 0.3);
}


