.OrganizationModal {
  width: 500px;
  margin-top: 50px;
}

.OrganizationModal .Header {
  margin-top: 0px;
  margin-bottom: 10px;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.OrganizationModal .Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
