.LandingLogo {
  flex: 0 0 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  /* font-size: 80%; */
}

.LandingLogo img {
  margin-left: 20px;
}

.LandingLogo h3 {
  font-family: 'Abel';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  padding: 1rem;

  /* identical to box height, or 110% */
  letter-spacing: 0.6px;

  color: #FFFFFF;
}