.Post {
  margin: 20px;
  flex-shrink: 1;
  min-width: 400px;
}

.Post > * {
  width: 100%;
  height: 100%;
}

.Post > .cover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.Post > .cover > img {
  height: 80px;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

.Post > .content > * {
  margin: 0px !important;
}

.Post .hidden {
  display: none;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}