
.TeamPage {
  overflow-y: scroll;
  background-color: white;
}
.TeamMembers {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}
.TeamTitle {
  font-family: 'SF-Pro-Display';
  font-style: normal;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.36px;

  /* SystemGray / 05 / Dark */
  color: #2C2C2E;
}


