.AboutPage {
  /* min-height: 100%; */
  overflow-y: auto;
  background: rgba(235, 235, 245, 0.3);
}

.AboutSection {
  /* min-height: 70%;
  max-height: 200%; */
}

.AboutPageTitle {
  font-family: 'SF-Pro-Display';
  font-style: bold;
  /* font-weight: 500; */
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.36px;
  margin-left: 20px;
  margin-bottom: 2rem;
  /* SystemGray / 05 / Dark */
  color: #2c2c2e;
}

.AboutTitle {
  font-family: 'SF-Pro-Display';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.36px;
  margin-left: 20px;
  /* SystemGray / 05 / Dark */
  color: #2c2c2e;
}

.DataSource {
  margin-left: 20px;
  font-family: 'SF-Pro-Display';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;

  /* identical to box height, or 129% */
  letter-spacing: -0.408px;

  /* SystemGray / 03 / Dark */
  color: #48484a;
}
.AboutPage a {
  font-family: 'SF-Pro-Display';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;

  /* identical to box height, or 129% */
  letter-spacing: -0.408px;

  /* SystemBlue / Dark */
  color: #0a84ff;
}
