.Filters {
  /* background-color: orange; */
  background-color: white;
  flex: 0 0 275px;
  padding: 20px;
  overflow-y: auto;
  user-select: none;
}

.Filter {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.Filter h3 {
  margin: 0px 0px 10px 0px;
}