.Filters {
  background-color: orange;
  flex: 0 1 250px;
  padding: 20px;
  height: 100%;
}

.Filter {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

h3 {
  margin: 0px 0px 10px 0px;
}