.Filters {
  background-color: orange;
  flex: 0 0 275px;
  padding: 20px;
  overflow-y: auto;
}

.Filter {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

h3 {
  margin: 0px 0px 10px 0px;
}