
.Credits {
  background-color: #FFFFFF;
}
.Credits h1 {
/* Default / Bold / Title2 */
  font-family: 'SF-Pro-Display';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  
  /* identical to box height, or 156% */
  text-align: center;
  letter-spacing: 0.35px;
  padding-top: 1.2rem;
  margin-top: 0;

  /* identical to box height, or 127% */
  letter-spacing: 0.35px;
  color: #8E8E93;
}

.CreditImages {
  display: flex;
  justify-content: space-evenly;
  flex: 0 0 1;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  
  padding-bottom: 2rem;
  
}

.CreditImages img, .CreditImages a {
  max-width: 100%;
  /* flex-basis: 20%; */
  height: auto;
  height: 3.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

