.NewResource button {
  align-self: flex-end;
  margin-left: 10px;
  padding-top: 10px;
}

.NewResource label {
  display: inline-block;
  width: 80px;
  text-align: left;
}

.NewResource li div { display: table-cell; vertical-align: middle; }