/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Lato:400,700,900'); */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
  --body-font-size: 18px;
  --body-background: #d1d7e0;
  --body-primary: #000;
  --body-secondary: #444;
  --body-font: 'Poppins', sans-serif;
  /* 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  --header-large-size: 50px;
  --header-medium-size: 40px;
  --header-font: 'Poppins', sans-serif;
  /* 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  --link-color: #0000EE;
  --body-primary-orange: #ef713b;
  /* orange color to match the dark orange circles on projectpeach.org */
  --body-secondary-orange: #f9ddc8;
  /* light orange/peach color to match projectpeach.org alternate background */
  --body-highlight-green: #166402;
  /* green color to match the green button on projectpeach.org */
}

* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  font-weight: normal;
  background-color: var(--body-background);
  color: var(--body-primary);
  overflow: hidden;
}

body, input, textarea, select {
  letter-spacing: 0.03em;
}

h1, h2, h3 {
  font-family: var(--header-font);
}

h1 {
  font-size: var(--header-large-size);
}

h2 {
  font-size: var(--header-medium-size);
}

input, textarea, select, button {
  background: none;
  font-size: calc(var(--body-font-size) - 2px);
  font-family: inherit;
  color: inherit;
  border: 1px solid gray;
  border-radius: 3px;
}

input, textarea, select {
  padding-left: 10px;
}

button {
  font-size: calc(var(--body-font-size) - 2px);
  font-family: inherit;
  background: none;
  color: inherit;
  cursor: pointer;
}

input, textarea {
  padding: 10px;
}


::placeholder,
::-moz-placeholder,
::-webkit-input-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: var(--body-secondary);
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

a, a:visited {
  color: var(--body-primary);
  text-decoration: none;
}

.Modal {
  box-sizing: border-box;
  padding: 30px;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
}

.Modal > h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.Modal button, .Modal select, .Modal input {
  padding: 5px;
}

.Policy a {
  color: blue;
  text-decoration: underline;
}