.TeamMemberBlurb {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* font-size: 80%; */
  color: #FFFFFF;
  padding-bottom: 20px;
  margin-left:2%;
  margin-right:2%;
}
.TeamMemberBlurb h1 {
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-left: 1rem;
  /* identical to box height, or 120% */
  letter-spacing: 0.38px;

  /* SystemGray / 04 / Dark */
  color: #3A3A3C;
}

.TeamMemberBlurb h2 {
  /* Default / Regular / Body */
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;

  margin-left: 1rem;
  /* or 129% */
  letter-spacing: -0.408px;

  /* SystemGray / 04 / Dark */
  color: #3A3A3C;
}
.TeamMemberBlurb a {
/* Default / Bold / Body */
  font-family: "SF-Pro-Display";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  
  margin-left: 1rem;

  /* identical to box height, or 129% */
  letter-spacing: -0.408px;

  /* SystemBlue / Dark */
  color: #0A84FF;
}
.TeamMemberBlurb img {
  width: 15rem;
  aspect-ratio: 1 / 1;
  display: block;
  align-self: center;
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  margin-bottom: 10px;
  border-radius: 10rem;
}
