#flyoutMenu {
  border-left:2px solid grey;
  width: 30vw;
  height: 100vh;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 70vw;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  overflow-y: auto;
}
 
#flyoutMenu.hide {
  transform: translate3d(30vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}
 
#flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}
 
#flyoutMenu h2 a:hover {
  text-decoration: underline;
}

.searchDiv {
  flex: 0 0 50px;
  /* background-color: red; */
  background-color: white;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  border-bottom: 1px solid lightgray;
}

.inputMenu {
  display: flex;
  flex-flow: column;
  margin: 0.8vw;
}

#postInput {
  margin:.8vw;
  width: 27vw;
  height: 30vh;
  resize: none;
  overflow: auto;
  background-color: #f8f8f8;
}

.postButton {
  align-self: center;
  margin: 10px;
  width: 200px;
}

.closeButton {
  /* margin: 10px; */
  margin-left: auto;
  /* margin-right: 40px; */
  height: 2.2rem;
  width: 7rem;
  /* border-radius: 100%; */
  /* border-color: white; */
  /* margin-right: 2rem; */
}
.gcse-search {
  height: 30wh;
}
.preview {	
  height: 300px;
  overflow-y:auto;
  float:left;
  position:relative;
}

#the-count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
  text-align: right;
}

#image_uploads {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
