
.Credits {
  background-color: #FFFFFF;
}
.Credits h1 {
/* Default / Bold / Title2 */
  font-family: 'SF-Pro-Display';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin: 0px;
  margin-left: 20px;
  padding-top: 1rem;

  /* identical to box height, or 127% */
  letter-spacing: 0.35px;

  /* SystemGray / 05 / Dark */
  color: #2C2C2E;
}

.CreditImages {
  margin-left: 2rem;
  padding-bottom: 1rem;
  
}
.CreditImages img {
  height: 4rem;
  margin-right: 3rem;
}
